
venv/bin/__pycache__/django-admin.cpython-38.pyc
yatube/__pycache__/__init__.cpython-38.pyc
yatube/__pycache__/settings.cpython-38.pyc
*.pyc
*.whl
venv/pyvenv.cfg
venv/lib64
venv/man/man1/nosetests.1
venv/lib/python3.8/site-packages/toml/common.py
venv/lib/python3.8/site-packages/toml/__init__.py
venv/lib/python3.8/site-packages/toml/decoder.py
venv/lib/python3.8/site-packages/toml/encoder.py
venv/lib/python3.8/site-packages/toml/ordered.py
venv/lib/python3.8/site-packages/toml/tz.py
*.rst
venv/lib/python3.8/site-packages/toml-0.10.1.dist-info/INSTALLER
*.txt
venv/lib/python3.8/site-packages/toml-0.10.1.dist-info/METADATA
*.json
venv/lib/python3.8/site-packages/toml-0.10.1.dist-info/RECORD
venv/lib/python3.8/site-packages/toml-0.10.1.dist-info/WHEEL
*.css
*.map
*.js
posts/static/bootstrap/LICENSE
*.scss
posts/static/dist/umd/poppper.js.flow
*.DS_Store
posts/static/static/index.d.ts
posts/static/static/index.js.flow
posts/static/jquery/README.md
posts/static/static/README.md
posts/static/bootstrap/README.md
users/static/bootstrap/LICENSE
users/static/bootstrap/README.md
users/static/dist/umd/poppper.js.flow
users/static/jquery/README.md
users/static/static/index.d.ts
users/static/static/index.js.flow
users/static/static/README.md
venv/bin/activate
venv/bin/activate.csh
*.fish
*.ps1
venv/bin/django-admin
venv/bin/django-admin.py
venv/bin/easy_install
*.8
venv/bin/flake8
venv/bin/nosetests
*.4
venv/bin/pip
venv/bin/pip3
venv/bin/py.test
venv/bin/pycodestyle
venv/bin/pyflakes
venv/bin/pytest
venv/bin/python
venv/bin/python3
venv/bin/sqlformat
*.xml
*.iml
static/admin/img/icon-deletelink.svg
