
{% extends "base.html" %}
{% block title %}Записи сообщества{{ group }}{% endblock %}| Yatube
{% block header %}{{ group }}{% endblock %}  
           
{% block content %}
<p> 
        {{ group.description }} 
    </p> 
 
    {% for post in posts %} 
    <h3> 
        Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date | date:"d M Y" }} 
    </h3> 
    <p>{{ post.text | linebreaksbr}} </p> 
 
    <hr> 
 
    <h3> 
        Автор: {{ post.author.get_full_name }}, {{ post.pub_date }} 
    </h3> 
    <p>{{ post.text | linebreaksbr }}</p> 
    {% endfor %} 
    
 
 {% endblock %}

