{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% for post in posts %}
        <h3>
            {% if post.group %}
                Группа: <a href= " url 'group_posts' ">{{ post.group }}</a>,
                Автор: {{ post.author.get_full_name }},
                Дата публикации: {{ post.pub_date|date:"d M Y" }}
            {% else %}
                Автор: {{ post.author.get_full_name }},
                Дата публикации: {{ post.pub_date|date:"d M Y" }}
            {% endif %} 
        </h3>
      
        <p>{{ post.text|linebreaksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %}


{% if post.group is not None %}
Группа: {{ post.group }}
{% endif %}