{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% for post in posts %}
        <h3>
            {% if post.group is not None %}
                Группа: <a href="{% url 'group_posts' %}">{{ post.group }}</a>,
            {% endif %}    
                Автор: {{ post.author.get_full_name }},
                Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
      
        <p>{{ post.text|linebreaksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %}
